{% extends "base.html" %}

{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<style>
@import 'https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro|Quicksand'; 
</style>
{% endblock %}


<!-- ============================================================================================================ -->


{% block content %}
 
<body onload="viewTable()">
   <div id="container">
    <h1>TO-DO-LIST</h1>
      <form class="form" id="main-form" name="myForm" onsubmit="addTask()">
      <div class="form" id="form_input">
        <input class="inputstyle" type="text" size="10" id="task" name="task" placeholder="Task"></input>
        <input class="inputstyle" type="textarea" size="20" id="desc" name="desc" placeholder="Description"></input>
        <input class="inputstyle" type="date" size="10" id="date" name="date"></input><br/><br/>
        <button type="button" id="submitBtn" onclick="addTask()" name="submitBtn">Add Task</button><br><br>
      </div> 
      </form>
    <h2 class="form">WHAT TO DO?</h2>
    <p class="form" name = "body"></p>
    <div class="items" name="form_output">
    <ol></ol>
      
  </div>
  </div>

</body>

{% endblock %}